html{height: 100%;}
html body{background: $gray4; font-family: 'Open Sans', sans-serif; font-size: 62.5%; font-weight: normal; height: 100%;}
.general{height: 100%;}

@media(min-width: 1200px){
	.general .container{
		width: 1130px;
	}
}