header{
	height: 6rem;
	overflow: hidden;
	.logo{
		float: left;
		background: $gray2;
		width: 19rem;
		h1{
			margin: 0;
			a{
				background: url(../images/design/misc/logo.jpg) no-repeat center center /cover;
				display: block;
				height: 6rem;
				text-decoration: none;
				text-indent: -9999px;
				width: 19rem;
			}//a
		}//h1
	}//logo
	.searchBox{
		float: left;
		position: relative;
		width: 54.4rem;
		&-input{
			background: $gray1;
			border: 0;
			box-sizing: border-box;
			color: $gray3;
			display: block;
			font-size: 1.6rem;
			height: 6rem;
			padding-left: 6rem;
			width: 100%;
		}//searchBox-input
		&-iconSearch{
			background: url(../images/design/icon/search.png) no-repeat center center /cover;
			display: block;
			height: 2.5rem;
			left: 1.5rem;
			position: absolute;
			top: 1.5rem;
			width: 2.5rem;
		}//searchBox-iconSearch
	}//searchBox
	.navHeader{
		float: left;
		width: 366px;
		&-nav{
			background: $gray1;
			ul{
				list-style: none;
				text-align: right;
				padding: 0;
				margin: 0;
				.navHeader-nav-item{
					display: inline-block;
					a{
						color: transparent;
						display: block;
						height: 6rem;
						width: 7rem;
					}//a
					&--message{
						padding-top: 15px;
						span{
							background: url(../images/design/icon/menuHeader--message.png) no-repeat center center /cover;
							display: block;
							height: 30px;
							width: 33px;
						}//span
					}//navHeader-nav-item--message
					&--notification{
						padding-top: 15px;
						span{
							background: url(../images/design/icon/menuHeader--notification.png) no-repeat center center /cover;
							display: block;
							height: 30px;
							width: 31px;
						}//span
					}//navHeader-nav-item--notification
					&--users{
						padding-top: 15px;
						span{
							background: url(../images/design/icon/menuHeader--users.png) no-repeat center center /cover;
							display: block;
							height: 30px;
							width: 32px;
						}//span
					}//navHeader-nav-item--users
					&--settings{
						padding-top: 15px;
						span{
							background: url(../images/design/icon/menuHeader--settings.png) no-repeat center center /cover;
							display: block;
							height: 30px;
							width: 32px;
						}//span
					}//navHeader-nav-item--settings
					&--menu{
						padding-top: 15px;
						span{
							background: url(../images/design/icon/menuHeader--menu.png) no-repeat center center /cover;
							display: block;
							height: 30px;
							width: 34px;
						}//span
					}//navHeader-nav-item--menu
				}//li
			}//ul
		}//navHeader-nav
	}//navHeader
}//header