html {
  height: 100%; }

html body {
  background: #eeeff1;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  height: 100%; }

.general {
  height: 100%; }

.general .container-max {
  margin: 0 auto;
  position: relative; }

@media (min-width: 1200px) {
  .general .container-max {
    width: 1130px; } }

header {
  height: 4rem;
  overflow: hidden; }
  header .container-max {
    background: #363e45;
    overflow: hidden; }
  header .logo {
    float: left;
    background: #363e45;
    width: 19rem; }
    header .logo h1 {
      margin: 0; }
      header .logo h1 a {
        background: url(../images/design/misc/logo.jpg) no-repeat center center/cover;
        display: block;
        height: 4rem;
        text-decoration: none;
        text-indent: -9999px;
        width: 19rem; }
  header .searchBox {
    float: left;
    position: relative;
    width: 57.5rem; }
    header .searchBox-input {
      background: transparent;
      border: 0;
      box-sizing: border-box;
      color: #778591;
      display: block;
      font-size: 1.3rem;
      height: 4rem;
      padding: 0 6rem;
      width: 100%; }
    header .searchBox-iconSearch {
      color: #778591;
      font-size: 2rem;
      font-weight: normal;
      display: block;
      height: 2.5rem;
      left: 1.5rem;
      position: absolute;
      top: 1.1rem;
      width: 2.5rem; }
  header .navHeader {
    float: left;
    min-width: 36.5rem; }
    header .navHeader-nav ul {
      list-style: none;
      text-align: right;
      overflow: hidden;
      padding: 0;
      margin: 0; }
      header .navHeader-nav ul .navHeader-nav-item {
        background: #2c3238;
        display: inline-block; }
        header .navHeader-nav ul .navHeader-nav-item a {
          box-sizing: border-box;
          border-top: 4px solid #2c3238;
          color: #778591;
          display: block;
          font-size: 2rem;
          font-weight: normal;
          height: 4rem;
          padding-top: .6rem;
          position: relative;
          text-align: center;
          width: 7rem; }
          header .navHeader-nav ul .navHeader-nav-item a:hover {
            text-decoration: none;
            border-top: 4px solid #778591; }
          header .navHeader-nav ul .navHeader-nav-item a span {
            color: transparent;
            height: 3.6rem;
            left: 0;
            line-height: 3.6rem;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%; }

.mainBanner {
  height: 390px;
  width: 100%; }
  .mainBanner .container-max {
    position: relative; }
    .mainBanner .container-max .mainBanner-shadow {
      background: url(../images/design/bg/mainBanner-shadow.png) repeat left top;
      display: block;
      height: 390px;
      opacity: 0.3;
      position: absolute;
      width: 100%; }
    .mainBanner .container-max .mainBanner-img {
      width: 100%; }
    .mainBanner .container-max .mainBanner-title {
      color: white;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 4.2rem;
      left: calc(50% - 250px);
      margin: 0;
      position: absolute;
      text-align: center;
      top: 45%;
      width: 500px; }

.profileAndMainNavigation {
  height: 6.5rem;
  margin-bottom: 2rem; }
  .profileAndMainNavigation .container-max {
    background: white;
    height: 6.5rem;
    position: relative; }
    .profileAndMainNavigation .container-max .profileAvatar {
      bottom: 1rem;
      height: 13rem;
      left: 5.5rem;
      position: absolute;
      width: 13rem; }
      .profileAndMainNavigation .container-max .profileAvatar-image {
        border: .6rem solid white;
        border-radius: 5px;
        display: block;
        height: 13rem;
        width: 13rem; }
    .profileAndMainNavigation .container-max .profileInformation {
      box-sizing: border-box;
      font-size: 1.6rem;
      font-weight: normal;
      height: 6.5rem;
      left: 185px;
      padding-left: 20px;
      position: absolute;
      top: -6.5rem;
      width: calc(100% - 201px); }
      .profileAndMainNavigation .container-max .profileInformation-name {
        color: white;
        margin: 0; }
      .profileAndMainNavigation .container-max .profileInformation-from {
        color: white;
        margin: 0; }
      .profileAndMainNavigation .container-max .profileInformation-followers {
        color: white;
        font-weight: 400;
        position: absolute;
        right: 2rem;
        top: 0; }
        .profileAndMainNavigation .container-max .profileInformation-followers span {
          display: block;
          text-align: right; }
  .profileAndMainNavigation .mainNavigation {
    left: 185px;
    padding-left: 2rem;
    position: relative;
    width: calc(100% - 201px); }
    .profileAndMainNavigation .mainNavigation-nav ul {
      font-size: 1.6rem;
      height: 6.5rem;
      list-style: none;
      margin: 0;
      padding: 0; }
      .profileAndMainNavigation .mainNavigation-nav ul li.mainNavigation-item {
        display: inline-block;
        line-height: 6.5rem;
        margin-right: 1rem; }
        .profileAndMainNavigation .mainNavigation-nav ul li.mainNavigation-item a {
          color: #2c3238;
          display: block;
          font-weight: 600;
          height: 6.5rem;
          line-height: 6.5rem;
          padding: 0 0.5rem;
          text-align: center; }
          .profileAndMainNavigation .mainNavigation-nav ul li.mainNavigation-item a span {
            font-family: 'Open Sans', sans-serif;
            padding-left: 1rem;
            display: inline-block; }
          .profileAndMainNavigation .mainNavigation-nav ul li.mainNavigation-item a:hover {
            color: #00a3d9;
            text-decoration: none; }
    .profileAndMainNavigation .mainNavigation-nav .btnFollow {
      color: white;
      height: 4rem;
      line-height: 4rem;
      padding: 0;
      position: absolute;
      right: 2rem;
      text-align: center;
      top: 1.3rem;
      width: 14.5rem; }

.mainAndAsides {
  overflow: hidden; }
  .mainAndAsides-main {
    box-sizing: border-box; }
    .mainAndAsides-main .sectionTitleAndOptions {
      overflow: hidden; }
      .mainAndAsides-main .sectionTitleAndOptions .sectionTitle {
        float: left;
        font-size: 2rem;
        font-weight: 600;
        margin: 0 0 2rem;
        width: 40%; }
      .mainAndAsides-main .sectionTitleAndOptions .sectionOptions {
        box-sizing: border-box;
        float: left;
        list-style: none;
        margin: 0;
        text-align: right;
        width: 60%; }
        .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option {
          border-radius: 2px;
          border: 1px solid #778591;
          color: #778591;
          display: inline-block;
          font-size: 1.6rem;
          height: 3rem;
          margin: 0 0.5rem;
          overflow: hidden;
          text-align: center;
          width: 3rem; }
          .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option--active {
            border-color: #58c5a8;
            color: #58c5a8; }
            .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option--active a.optionLink {
              color: #58c5a8; }
            .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option--active span {
              color: #58c5a8; }
          .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option:hover {
            border-color: #00a3d9;
            color: #00a3d9;
            cursor: pointer; }
            .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option:hover a.optionLink {
              color: #00a3d9;
              text-decoration: none; }
            .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option:hover span {
              color: #00a3d9; }
          .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option a {
            box-sizing: border-box;
            color: #778591;
            display: block;
            font-size: 1.3rem;
            height: 3rem;
            line-height: 1em;
            text-align: center;
            width: 3rem; }
          .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option.sectionOptions-option--search a {
            padding-top: .8rem;
            padding-right: .3rem; }
          .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option.sectionOptions-option--order {
            position: relative; }
            .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option.sectionOptions-option--order a {
              display: block;
              font-size: 1.1rem;
              padding-right: 2px;
              padding-top: .8rem; }
            .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option.sectionOptions-option--order span {
              font-size: 1rem;
              line-height: 1em;
              position: absolute;
              text-align: center;
              width: 100%; }
              .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option.sectionOptions-option--order span.fa-sort-asc {
                top: .3rem;
                left: 0; }
              .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option.sectionOptions-option--order span.fa-sort-desc {
                bottom: .3rem;
                left: 0; }
          .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option.sectionOptions-option--edit {
            letter-spacing: 0; }
            .mainAndAsides-main .sectionTitleAndOptions .sectionOptions .sectionOptions-option.sectionOptions-option--edit a {
              padding-top: .6rem;
              letter-spacing: 0; }
  .mainAndAsides .products {
    float: left;
    background: white;
    overflow: hidden;
    padding: 2rem; }
    .mainAndAsides .products .product {
      border: 1px solid #eeeff1;
      box-sizing: border-box;
      display: inline-block;
      height: 38rem;
      margin-bottom: 2rem;
      width: 46.66666667%; }
      .mainAndAsides .products .product:nth-child(even) {
        margin-right: 4.3rem; }
      .mainAndAsides .products .product-image {
        max-height: 25rem;
        position: relative;
        text-align: center; }
        .mainAndAsides .products .product-image img {
          height: 25rem; }
      .mainAndAsides .products .product .productInformation {
        background: #eeeff1;
        box-sizing: border-box;
        height: 13rem;
        line-height: 1em;
        padding: 1.5rem 1.5rem 6rem;
        position: relative; }
        .mainAndAsides .products .product .productInformation-name {
          font-size: 1.6rem;
          font-weight: 600;
          margin: 0 0 1rem; }
        .mainAndAsides .products .product .productInformation-GbAndColor {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1em;
          margin: 0; }
        .mainAndAsides .products .product .productInformation-price {
          font-size: 2rem;
          font-weight: 600;
          line-height: 1em;
          position: absolute;
          right: 1.6rem;
          top: 1.6rem; }
        .mainAndAsides .products .product .productInformation .btnBuy {
          border: 0;
          bottom: 1.5rem;
          color: white;
          display: block;
          height: 4.5rem;
          left: 1.5rem;
          padding-top: 1.3rem;
          position: absolute;
          right: 1.5rem;
          text-align: center; }
  .mainAndAsides .mainAndAsides-asides {
    float: left;
    padding: 0 2rem 2rem; }
    .mainAndAsides .mainAndAsides-asides-staff ul.staff {
      list-style: none;
      padding: 0; }
      .mainAndAsides .mainAndAsides-asides-staff ul.staff h3 {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0 0 2rem;
        text-transform: uppercase; }
      .mainAndAsides .mainAndAsides-asides-staff ul.staff .staff-member {
        overflow: hidden;
        margin-bottom: 2rem;
        position: relative; }
        .mainAndAsides .mainAndAsides-asides-staff ul.staff .staff-member-avatar {
          float: left;
          display: block;
          height: 3.5rem;
          margin-right: 1.5rem;
          width: 3.5rem; }
        .mainAndAsides .mainAndAsides-asides-staff ul.staff .staff-member-info {
          float: left;
          font-size: 1.6rem;
          line-height: 1em; }
          .mainAndAsides .mainAndAsides-asides-staff ul.staff .staff-member-info-name {
            color: #00a3d9;
            display: block;
            margin-bottom: .5rem; }
          .mainAndAsides .mainAndAsides-asides-staff ul.staff .staff-member-info-career {
            color: #363e45;
            display: block; }
        .mainAndAsides .mainAndAsides-asides-staff ul.staff .staff-member-openProfile {
          border: 1px solid #778591;
          color: #778591;
          display: block;
          height: 3.5rem;
          font-size: 1.9rem;
          font-weight: lighter;
          line-height: 3.5rem;
          position: absolute;
          right: 0;
          top: 0;
          padding-top: .1rem;
          text-align: center;
          width: 3.5rem; }
          .mainAndAsides .mainAndAsides-asides-staff ul.staff .staff-member-openProfile:hover {
            text-decoration: none; }
        .mainAndAsides .mainAndAsides-asides-staff ul.staff .staff-member-hideInfo {
          display: none;
          border-top: 1px solid #e7e8e9;
          clear: both; }
          .mainAndAsides .mainAndAsides-asides-staff ul.staff .staff-member-hideInfo h5 {
            display: block;
            font-weight: 600; }
          .mainAndAsides .mainAndAsides-asides-staff ul.staff .staff-member-hideInfo p {
            color: #363e45;
            font-size: 1.5rem;
            line-height: 1em; }

aside .asideBanner {
  background: white;
  box-sizing: border-box;
  height: 24.5rem;
  padding: 2.5rem;
  text-align: center;
  width: 100%; }
  aside .asideBanner-image {
    margin-bottom: 2rem; }
    aside .asideBanner-image img {
      height: 95px;
      max-width: 130px; }
  aside .asideBanner-description {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5; }
    aside .asideBanner-description a {
      color: #00a3d9; }

.product-image:hover .editProduct {
  display: block; }

.editProduct {
  display: none;
  height: 4.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  .editProduct button {
    box-sizing: border-box;
    color: white;
    font-size: 1.9rem;
    font-weight: normal;
    padding-top: 0; }
    .editProduct button:hover {
      border: 2px solid white;
      border-bottom: 0;
      text-decoration: none; }
  .editProduct-edit {
    border: 2px solid #58c5a8;
    border-bottom: 0;
    background: #58c5a8;
    height: 4.5rem;
    display: block;
    float: left;
    width: 50%; }
  .editProduct-delete {
    border: 2px solid #e9595c;
    border-bottom: 0;
    background: #e9595c;
    height: 4.5rem;
    display: block;
    float: left;
    width: 50%; }

.popUp .addNewProduct-dragAndDrop {
  background: #eeeff1;
  margin-bottom: 3rem;
  padding: 7rem 0;
  text-align: center; }
  .popUp .addNewProduct-dragAndDrop h4 {
    color: #778591;
    margin: 0 0 2rem; }
  .popUp .addNewProduct-dragAndDrop .fileUpload {
    margin: 0 auto; }

.popUp .addNewProduct p {
  font-size: 1.6rem; }
  .popUp .addNewProduct p label {
    font-size: 1.6rem; }
  .popUp .addNewProduct p select {
    cursor: pointer; }
