.product-image:hover{
	.editProduct{
		display: block;
	}//editProduct
}//product-image:hover
.editProduct{
	display: none;
	height: 4.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	a{
		box-sizing: border-box;
		color: white;
		font-size: 2rem;
		font-weight: normal;
		padding-top: 1rem;
		&:hover{
			border: 2px solid white;
			border-bottom: 0;
			text-decoration: none;
		}
	}
	&-edit{
		border: 2px solid $green1;
		border-bottom: 0;
		background: $green1;
		height: 5rem;
		display: block;
		float: left;
		width: 50%;
	}//editProduct-edit
	&-delete{
		border: 2px solid $red1;
		border-bottom: 0;
		background: $red1;
		height: 5rem;
		display: block;
		float: left;
		width: 50%;
	}//editProduct-delete
}//editProduct